<div class="h-full lg:relative fixed z-[1000] [&:hover_.sidebar-scrollable]:text-opacity-50">
   <div #sidebar class="sidebar h-full relative transition-all duration-500 w-[260px] overflow-hidden">
      <div
         #sidebarBackdrop
         class="fixed inset-0 bg-primary-200 bg-opacity-20 backdrop-blur-md [&.opened]:opacity-100 [&.opened]:pointer-events-auto opacity-0 pointer-events-none transition-all duration-300 lg:!pointer-events-none lg:!opacity-0"
      ></div>
      <div class="h-full min-w-[260px] bg-black text-white relative">
         <div
            class="h-[calc(100vh-81px)] overflow-y-auto sidebar-scrollable scrollbar-currentColor text-primary-100 text-opacity-30 scrollbar-small hover:text-primary-100 hover:text-opacity-50"
         >
            <div class="px-3 py-4">
               <div class="text-white text-opacity-50 text-sm font-semibold mt-2 mb-4">Admin Panel</div>
               <div class="flex flex-col gap-0 links-container relative">
                  <div class="absolute top-0 left-0 right-0 h-[38px]">
                     <a
                        class="transition-all duration-300 bg-layer absolute left-0 w-full whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 !text-transparent pointer-events-none text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg"
                     >.
                     </a
                     >
                  </div>
                  <a
                     [routerLinkActiveOptions]="{ exact: true }"
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="./"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Analytics
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="pats"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Patients
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="docs"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >All Doctors
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="docs-approval-req"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >
                     <div class="relative w-fit">
                        Pending Doctor Actions
                        <span class="flicker-3 absolute top-[-2px] right-[-10px] w-[11px] aspect-square rounded-full bg-blue-600"></span>
                     </div>
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="all-appo"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >All Appointments
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="comp-appo"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Completed Appointments
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="active-appo"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Active Appointments
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="fail-appo"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Failed Appointments
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="appo-actions"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >
                     <div class="relative w-fit">
                        Pending Appointment Actions
                        <span class="flicker-3 absolute top-[-2px] right-[-10px] w-[11px] aspect-square rounded-full bg-blue-600"></span>
                     </div>
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="appo-pays"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Appointment Payments
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="doc-w-trxs"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Doctor Withdrawal Transactions
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="doc-w-req"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >
                     <div class="relative w-fit">
                        Doctor Withdrawal Requests
                        <span class="flicker-3 absolute top-[-2px] right-[-10px] w-[11px] aspect-square rounded-full bg-blue-600"></span>
                     </div>
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="pat-w-trxs"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Patient Withdrawal Transactions
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="pat-w-req"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >
                     <div class="relative w-fit">
                        Patient Withdrawal Requests
                        <span class="flicker-3 absolute top-[-2px] right-[-10px] w-[11px] aspect-square rounded-full bg-blue-600"></span>
                     </div>
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="spec"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >
                     <div class="w-fit relative"> Specializations Categories</div>
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="spec-disease-map"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >
                     <div class="w-fit relative"> Disease Prediction Mapping</div>
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="lang"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Languages
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/a/sjdflksjdf"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Page Not Found
                  </a
                  >
               </div>
            </div>
            <div class="px-3 py-4">
               <div class="text-white text-opacity-50 text-sm font-semibold mt-2 mb-4">Useful Links</div>
               <div class="flex flex-col gap-0">
                  <a
                     routerLink=""
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Home
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/about"
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >About Us
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/disclaimer"
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Disclaimer
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/m/t/i"
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Test Brain Tumor Model
                  </a
                  >
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/m/d/a/i"
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Test Disease Prediction Model
                  </a
                  >
               </div>
            </div>
         </div>

         <div class="absolute bottom-0 w-full pt-2 pb-4 px-3">
            <div>
               <div
                  class="flex items-center py-3 px-3 bg-[#2d2d2d] hover:bg-[#2d2d3d] text-white text-opacity-60 hover:text-opacity-90 rounded-lg cursor-default transition-all duration-300"
               >
                  <div
                     class="rounded-full w-[32px] shrink-0 aspect-square bg-purple-700 inline-flex justify-center items-center pb-[1px] text-lg me-2 pt-0.5"
                  >A
                  </div
                  >
                  <div class="font-semibold truncate">Admin</div>
                  <div class="flex-grow"></div>
                  <a
                     (click)="logoutConfirmationModal.open()"
                     data-te-ripple-color="light"
                     data-te-ripple-init
                     class="inline-flex items-center text-lg cursor-pointer ps-3 pe-2 rounded-lg pt-1.5 pb-1 -mt-1.5 -mb-1"
                  >
                     <fa-icon [icon]="faRightFromBracket"></fa-icon>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="absolute top-1/2 -translate-y-1/2 -right-[24px] text-3xl !font-extrabold">
      <div
         #sidebarToggler
         (click)="sidebar.classList.toggle('!w-0'); sidebarToggler.classList.toggle('closed'); sidebarBackdrop.classList.toggle('opened')"
         class="sidebar-toggler ps-2 pe-3 py-3 opacity-40 hover:opacity-100 cursor-pointer transition-all duration-300"
      >
         <div class="relative">
            <div class="top bg-black w-[4px] h-[12px] rounded-full"></div>
            <div class="bottom bg-black w-[4px] h-[12px] rounded-full"></div>
         </div>
      </div>
   </div>
</div>

<!-- Logout - Modal -->
<app-modal #logoutConfirmationModal>
   <div title>Confirm Logout</div>
   <div body>
      <div>
         <p>Are you sure you want to log out?</p>
      </div>
   </div>
   <div bottom>
      <div class="flex justify-end gap-x-1">
         <form-submit-button
            (click)="logoutConfirmationModal.close()"
            btnStyle="btn-blue"
            label="Cancel"
            class="text-center"
         ></form-submit-button>
         <form-submit-button
            (click)="logout()"
            btnStyle="btn-red"
            label="Confirm Logout"
            class="text-center ml-1"
         ></form-submit-button>
      </div>
   </div>
</app-modal>
<!-- Logout - Modal -->
