<div class="mb-20">
    <div class="container mx-auto">
        <div>
            <div class="bg-primary-100 bg-opacity-80 rounded-lg shadow-lg p-6">
                <div class="mb-3 text-dark text-opacity-100 text-2xl font-semibold">About Us</div>
                <div class="mb-2 ">Welcome to AI-Medical Company, where our mission is to revolutionize healthcare accessibility through innovative AI-driven solutions. Established in 2023, we have been dedicated to empowering individuals to take charge of their well-being.</div>
                <div class="mb-2 ">At AI-Medical Company, we believe in harnessing the power of cutting-edge technology to make healthcare more accessible and understandable for everyone. Our team comprises dedicated professionals committed to creating user-friendly platforms that simplify complex health data.</div>
                <div class="mb-2 ">Driven by a passion for improving lives, we strive to provide comprehensive and reliable healthcare insights. We aim to be your trusted companion on your health journey, offering valuable tools and resources for informed decision-making.</div>
                <div class="mb-2 ">Join us in redefining the future of healthcare – where innovation meets compassion.</div>
                <div>
                    <!-- Gallery -->
                    <div>
                        <div class="container mx-auto py-5">
                            <div class="-m-1 flex flex-wrap md:-m-2">
                                <div class="flex w-1/2 flex-wrap">
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="/assets/img/doctors-team-about-us (5).jpeg" />
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <video alt="gallery" autoplay loop class="block h-full w-full rounded-lg object-cover object-center" src="assets/img/doctors-team-about-us (1).mp4"></video>
                                    </div>
                                    <div class="w-full p-1 md:p-2">
                                        <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="/assets/img/doctors-team-about-us (4).jpeg" />
                                    </div>
                                </div>
                                <div class="flex w-1/2 flex-wrap">
                                    <div class="w-full p-1 md:p-2">
                                        <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="/assets/img/doctors-team-about-us (3).jpeg" />
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="assets/img/doctors-team-about-us (1).jpeg" />
                                    </div>
                                    <div class="w-1/2 p-1 md:p-2">
                                        <img alt="gallery" class="block h-full w-full rounded-lg object-cover object-center" src="assets/img/doctors-team-about-us (2).jpeg" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Gallery -->
                </div>
                <div class="mb-2 ">Our journey began with a vision to bridge the gap between technology and healthcare, creating a seamless experience for users seeking clarity and guidance in their health decisions. Our commitment to innovation fuels our pursuit of groundbreaking solutions that cater to diverse health needs.</div>
                <div class="mb-2 ">Beyond just technology, our ethos lies in understanding the human aspect of healthcare. We prioritize empathy and understanding, recognizing the significance of each individual's health journey. Every solution we craft is designed to prioritize user experience, ensuring ease of access and comprehension for all.</div>
                <div class="mb-2 ">At AI-Medical Company, our dedication extends beyond providing data-driven insights. We advocate for proactive health management, encouraging users to engage actively in their well-being. Our pledge is to continuously evolve, incorporating the latest advancements in AI and healthcare to deliver cutting-edge solutions.</div>
                <div class="mb-2 font-semibold">Join us as we transform the landscape of healthcare, empowering individuals to make informed choices, leading to healthier and happier lives.</div>
            </div>
        </div>
    </div>
</div>