<div class="main workspace">
   <div class="mt-6">

      <div class="inner-container mx-auto">
         <div class="rounded-lg shadow-lg bg-primary-100 bg-opacity-90 p-7">
            <div class="mb-5">
               <div>
                  <div class="flex gap-x-6">
                     <div class="profile-img flex justify-start">
                        <div class="flex items-center flex-col gap-y-2">
                           <img
                              alt=""
                              src="assets/img/doctor-2.jpeg"
                              class="bg-primary-100 w-[180px] object-cover aspect-square rounded-lg shadow-lg ring ring-dark"
                           />
                           <div class="mt-1 -mb-1 w-fit">
                              <!--                               <app-rating-stars></app-rating-stars> -->
                           </div>
                        </div>
                     </div>
                     <div class="h-full flex flex-col">
                        <div class="text-dark font-semibold text-2xl w-max">{{ doctor.details.name }}</div>
                        <div class="mb-2 -mt-1">
                           <div class="text-xl text-dark">{{ doctor.details.specialization }}</div>
                        </div>
                        <div class="flex-grow"></div>
                        <div class="mt-2 font-semibold">Charges</div>
                        <div>{{ doctor.details.appointmentCharges }}</div>
                        <!-- <div class="mt-2 font-semibold">Appointment Slot</div> -->
                        <!-- <div>Monday - Around 3PM to 4PM (01/01/2000)</div> -->
                     </div>
                  </div>
               </div>
            </div>
            <div class="flex justify-end gap-x-2 mb-3">
               <a
                  (click)="location.back()"
                  data-te-ripple-color="light"
                  data-te-ripple-init
                  data-te-target="#cancelAppointmentConfirmationModal"
                  data-te-toggle="modal"
                  type="button"
                  class="opacity-50 hover:opacity-100 transition-all cursor-pointer text-center block w-fit rounded bg-danger-600 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-danger-700 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal duration-150 ease-in-out focus:outline-none focus:ring-0"
               >
                  Cancel
               </a>
               <form-submit-button
                  (click)="stripe.redirect()"
                  [disabled]="book.waiting || stripe.waiting"
                  [waiting]="stripe.waiting"
                  btnStyle="btn-blue bg-blue-600 hover:bg-blue-700 active:bg-blue-800"
                  label="Proceed to Pay"
               ></form-submit-button>
            </div>

            <div class="text-3xl font-semibold text-dark mb-4">Just One More Step</div>
            <div class="py-4 px-4 bg-gradient-green-100 rounded-lg border border-current shadow-lg shadow-green-300">
               <div class="text-xl font-semibold text-dark">One Step Closer to Confirming Your Appointment!</div>
               <div>
                  We're almost there! Your appointment details are all set and ready. Just one more quick step left to
                  confirm your booking. By proceeding with the
                  payment, you'll secure your appointment and gain access to exceptional healthcare services tailored to
                  your needs.
               </div>
            </div>
            <div class="py-4 px-4 bg-gradient-green-100 rounded-lg border border-current mt-5 shadow-lg shadow-green-300">
               <div class="text-lg font-semibold text-dark">Secure Your Appointment Instantly!</div>
               <div>
                  Your appointment request is all set! To ensure your spot with our esteemed medical professionals,
                  simply
                  proceed with the payment process. Rest
                  assured, your information is safe and secure with us. Confirm your booking now and experience premium
                  healthcare solutions hassle-free.
               </div>
            </div>
            <div class="py-4 px-4 bg-gradient-green-100 rounded-lg border border-current mt-5 shadow-lg shadow-green-300">
               <div class="text-lg font-semibold text-dark">Final Step: Payment Confirmation</div>
               <div>
                  You're just a click away from confirming your appointment. By completing the payment, you'll secure
                  your booking instantly. Your healthcare
                  journey with us awaits! Go ahead, take that final step, and get ready for exceptional medical care
                  tailored to your preferences.
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- PayFast Payment Form -->
<form
   id="payfast-form"
   action="https://ipguat.apps.net.pk/Ecommerce/api/Transaction/PostTransaction"
   enctype="application/x-www-form-urlencoded"
   method="post"
   name="PayFast-payment-form"
   target="_blank"
   class="hidden"
>
   <input [value]="payfastGateway.params.currencyCode" name="CURRENCY_CODE" type="TEXT"/>
   <input [value]="payfastGateway.params.merchantId" name="MERCHANT_ID" type="TEXT"/>
   <input [value]="payfastGateway.params.merchantName" name="MERCHANT_NAME" type="TEXT"/>

   <input [value]="payfastGateway.params.successUrl" name="SUCCESS_URL" type="TEXT"/>
   <input [value]="payfastGateway.params.failureUrl" name="FAILURE_URL" type="TEXT"/>
   <input [value]="payfastGateway.params.checkoutUrl" name="CHECKOUT_URL" type="TEXT"/>

   <input [value]="payfastGateway.params.customerEmailAddress" name="CUSTOMER_EMAIL_ADDRESS" type="TEXT">
   <input [value]="payfastGateway.params.customerMobileNo" name="CUSTOMER_MOBILE_NO" type="TEXT">

   <input [value]="payfastGateway.params.txnamt" name="TXNAMT" type="TEXT"/>
   <input [value]="payfastGateway.params.basketId" name="BASKET_ID" type="TEXT"/>
   <input [value]="payfastGateway.params.signature" name="SIGNATURE" type="TEXT"/>
   <input [value]="payfastGateway.params.version" name="VERSION" type="TEXT"/>

   <input [value]="payfastGateway.params.txndesc" name="TXNDESC" type="TEXT"/>
   <input [value]="payfastGateway.params.procCode" name="PROCCODE" type="TEXT"/>
   <input [value]="payfastGateway.params.tranType" name="TRAN_TYPE" type="TEXT"/>

   <!--    <input [value]="payfastGateway.params.orderDate" name="ORDER_DATE" type="TEXT"/> -->
   <input [value]="payfastGateway.params.token" name="TOKEN" type="TEXT"/>

   <ng-container *ngFor="let item of payfastGateway.params.items; let itemIndex = index;">
      <input [name]="'ITEMS[' + itemIndex + '][SKU]'" [value]="item.sku" type="HIDDEN"/>
      <input [name]="'ITEMS[' + itemIndex + '][NAME]'" [value]="item.name" type="HIDDEN"/>
      <input [name]="'ITEMS[' + itemIndex + '][PRICE]'" [value]="item.price" type="HIDDEN"/>
      <input [name]="'ITEMS[' + itemIndex + '][QTY]'" [value]="item.qty" type="HIDDEN"/>
   </ng-container>

   <div class="row">
      <div style="text-align: center" class="col-md-12">
         <input id="submitBtn" #payfastProceedBtn type="submit" value="Submit"/>
      </div>
   </div>
</form>
<!-- PayFast Payment Form -->
