<ng-container [formGroup]="formGroup">

   <!---TE-Select--->
   <div
      #selectEleWrapper
      [ngClass]="{'form-select---invalid': formGroup.get(controlName)?.touched && formGroup.get(controlName)?.invalid}"
   >
      <div class="relative [&:hover>fa-icon]:opacity-100 group">
         <input
            #inputEle
            (click)="toggle()"
            (focusout)="close()"
            te-input-focused=""
            type="text"
            class="peer form-input---input [&:focused~*>[data-te-input-notch]]:border-neutral-300 cursor-default"
         >
         <label class="form-input---label">{{ label }}</label>
         <div class="absolute top-1/2 -translate-y-1/2 right-3">
            <div class="group-focus-within:hidden block">
               <fa-icon
                  [icon]="faChevronDown"
                  class="text-neutral-400"
               ></fa-icon>
            </div>
            <div class="group-focus-within:block hidden">
               <fa-icon
                  [icon]="faChevronUp"
                  class="text-neutral-400"
               ></fa-icon>
            </div>
         </div>
         <div
            data-te-input-notch-ref=""
            data-te-input-state-active=""
            class="flex absolute left-0 top-0 w-full max-w-full h-full text-left pointer-events-none"
         >
            <div
               data-te-input-notch
               data-te-input-notch-leading-ref=""
               style="width: 9px;"
               class="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none left-0 top-0 h-full w-2 border-r-0 rounded-l-[0.25rem] group-focus-within:border-r-0 group-focus-within-:border-r-0 border-neutral-300 dark:border-neutral-600 group-focus-within:shadow-[-1px_0_0_#3b71ca,_0_1px_0_0_#3b71ca,_0_-1px_0_0_#3b71ca] group-focus-within:!border-primary"
            ></div>
            <div
               data-te-input-notch
               data-te-input-notch-middle-ref=""
               style="width: 64px;"
               class="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow-0 shrink-0 basis-auto w-auto max-w-[calc(100%-1rem)] h-full border-r-0 border-l-0 group-focus-within:border-x-0 group-data-[te-input-state-active]:border-x-0 group-focus-within:border-t group-data-[te-input-state-active]:border-t group-focus-within:border-solid group-data-[te-input-state-active]:border-solid group-focus-within:border-t-transparent group-data-[te-input-state-active]:border-t-transparent border-neutral-300 dark:border-neutral-600 group-focus-within:shadow-[0_1px_0_0_#3b71ca] group-focus-within:!border-primary"
            ></div>
            <div
               data-te-input-notch
               data-te-input-notch-trailing-ref=""
               class="pointer-events-none border border-solid box-border bg-transparent transition-all duration-200 ease-linear motion-reduce:transition-none grow h-full border-l-0 rounded-r-[0.25rem] group-focus-within:border-l-0 group-data-[te-input-state-active]:border-l-0 border-neutral-300 dark:border-neutral-600 group-focus-within:shadow-[1px_0_0_#3b71ca,_0_-1px_0_0_#3b71ca,_0_1px_0_0_#3b71ca] group-focus-within:!border-primary"
            ></div>
         </div>
         <div
            [ngClass]="{'pointer-events-none': !opened,
            '!top-[calc(100%+1px)] !scale-100 !duration-300 !ease-out !opacity-100 !pointer-events-auto': opened}"
            class="absolute top-[calc(100%-9px)] w-full left-0 rounded-b-md bg-white border border-t-0 border-neutral-600 opacity-0 scale-75 transition-all duration-100 ease-in shadow-md z-10"
         >
            <ng-container *ngFor="let option of options">
               <div
                  (click)="close(); updateValue(option.value)"
                  [ngClass]="{'bg-primary-100': option.value === currentValue,
                  'pointer-events-none': option?.isDisabled}"
                  class="px-4 py-1.5 hover:bg-primary-100 last:rounded-b-md cursor-pointer"
               >
                  {{
                     option.label
                  }}
               </div>
            </ng-container>
         </div>
      </div>
   </div>
   <!---TE-Select--->

   <!---Errors--->
   <div>
      <div
         [ngClass]="{'': updateError(),  '!grid-rows-[1fr] !opacity-100': currentError !== ''}"
         class="form---error"
      >
         <div
         >
            {{ currentError }}
         </div>
      </div>
   </div>
   <!---Errors--->

</ng-container>
