<div class="main workspace">
    <div>
        <div class="grid grid-cols-12 gap-x-4 gap-y-6 max-w-[1200px] mx-auto">
            <div class="col-span-12">
                <div class="pt-2 -mb-3">
                    <div class="text-dark text-opacity-80 text-lg text-center">System Analytics</div>
                </div>
            </div>
            <div class="col-span-4">
                <!--  -->
                <div class="py-2 px-3 bg-white bg-opacity-100 h-[316px] rounded-lg shadow-lg">
                    <ag-charts-angular #chart1 style="height: 100%" [options]="options"></ag-charts-angular>
                </div>
                <!--  -->
            </div>
            <div class="col-span-4">
                <!--  -->
                <div class="py-2 px-3 bg-white bg-opacity-100 h-[316px] rounded-lg shadow-lg">
                    <ag-charts-angular #chart2 style="height: 100%" [options]="options"></ag-charts-angular>
                </div>
                <!--  -->
            </div>
            <div class="col-span-4">
                <!--  -->
                <div class="py-2 px-3 bg-white bg-opacity-100 h-[316px] rounded-lg shadow-lg">
                    <ag-charts-angular #chart3 style="height: 100%" [options]="options"></ag-charts-angular>
                </div>
                <!--  -->
            </div>
            <div class="col-span-8">
                <!--  -->
                <div class="py-2 px-3 bg-white bg-opacity-100 h-[316px] rounded-lg shadow-lg">
                    <ag-charts-angular #chart4 style="height: 100%" [options]="tumorNDiseaseModelUsage8Weeks"></ag-charts-angular>
                </div>
                <!--  -->
            </div>
            <div class="col-span-4">
                <!--  -->
                <div class="py-2 px-3 bg-white bg-opacity-100 h-[316px] rounded-lg shadow-lg">
                    <ag-charts-angular #chart5 style="height: 100%" [options]="options"></ag-charts-angular>
                </div>
                <!--  -->
            </div>
            <div class="col-span-4">
                <!--  -->
                <div class="py-2 px-3 bg-white bg-opacity-100 h-[316px] rounded-lg shadow-lg">
                    <ag-charts-angular #chart6 style="height: 100%" [options]="options"></ag-charts-angular>
                </div>
                <!--  -->
            </div>
            <div class="col-span-8">
                <!--  -->
                <div class="py-2 px-3 bg-white bg-opacity-100 h-[316px] rounded-lg shadow-lg">
                    <ag-charts-angular #chart7 style="height: 100%" [options]="tumorNDiseaseModelUsage8Weeks"></ag-charts-angular>
                </div>
                <!--  -->
            </div>
        </div>
    </div>
</div>