<div class="main workspace">
   <div>
      <div>
         <div
            class="text-dark text-2xl font-semibold mb-4 flex justify-between items-end"
         >Transactions
            <div class="text-dark text-opacity-70 font-normal text-base pe-4"></div>
         </div>
         <div>
            <div>
               <div class="flex justify-end font-normal">
                  <div class="px-4 pt-2 pb-1.5">
                     Total Refunded Amount in Wallet:
                     <span class="text-green-600 font-semibold">
                        Rs. {{ profile.details.walletAmount }}
                     </span>
                  </div>
               </div>

               <ng-container *ngIf="appointmentTransactions.loading || withdrawalTransactions.loading">
                  <div>
                     <div class="bg-primary-100 bg-opacity-90 rounded-lg shadow-xl p-6 mb-0 mt-6 border-s-[6px] border-e-4 border-success-600">
                        <div class="relative isolate">
                           <div role="status" class="max-w-sm animate-pulse">
                              <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[300px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                              <span class="sr-only">Loading...</span>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div>
                     <div class="bg-primary-100 bg-opacity-90 rounded-lg shadow-xl p-6 mb-0 mt-6 border-s-[6px] border-e-4 border-success-600">
                        <div class="relative isolate">
                           <div role="status" class="max-w-sm animate-pulse">
                              <div class="h-4 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[300px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[360px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 max-w-[330px] mb-2.5"></div>
                              <div class="h-3 bg-gray-200 rounded-full dark:bg-gray-700 mb-2.5"></div>
                              <span class="sr-only">Loading...</span>
                           </div>
                        </div>
                     </div>
                  </div>
               </ng-container>

               <ng-container *ngFor="let trx of transactions; let trxIndex = index;">

                  <!-- Appointment Transaction  -->
                  <!-- Appointment Transaction  -->
                  <!-- Appointment Transaction  -->
                  <ng-container *ngIf="trx.type === 'APPOINTMENT'">
                     <div class="bg-primary-100 bg-opacity-90 rounded-lg shadow-xl p-6 mb-0 mt-6 border-s-[6px] border-e-4 border-success-600">
                        <div class="relative isolate">
                           <div class="profile-img mb-2">
                              <div class="flex ps-0">
                                 <div class="flex items-start flex-col justify-center gap-y-0">
                                    <div class="text-dark font-semibold text-xl flex justify-center">
                                       Paid Rs. {{ trx.paidAmount }} - Refunded Rs. {{ trx.refundedAmount }}
                                    </div>
                                    <div class="flex justify-center">Doctor:
                                       <a
                                          [queryParams]="{ d: trx.patient.id }" [routerLink]="['../', 'doctor']"
                                          target="_blank" class="underline ms-1"
                                       >
                                          {{ trx.patient.name }}
                                       </a>
                                    </div>
                                 </div>
                              </div>
                           </div>
                           <div class="sm:absolute right-0 top-0 text-dark text-opacity-40 flex gap-x-3">
                              Appointment Number: {{ trx.id }}
                           </div>
                           <div>Requested Date: {{ trx.paymentTime | datetime }}</div>
                           <div class="">
                              Meeting Time: {{ [trx.timeFrom, trx.timeTo] | appointmentDuration }}
                           </div>
                           <!-- <div>Status: Accepted</div> -->
                        </div>
                     </div>
                  </ng-container>
                  <!-- Appointment Transaction  -->
                  <!-- Appointment Transaction  -->
                  <!-- Appointment Transaction  -->

                  <!-- Withdrawal Transaction  -->
                  <!-- Withdrawal Transaction  -->
                  <!-- Withdrawal Transaction  -->
                  <ng-container *ngIf="trx.type === 'REFUND'">
                     <div class="bg-primary-100 bg-opacity-90 rounded-lg shadow-xl p-6 mb-0 mt-6 border-s-[6px] border-e-4 border-danger-600">
                        <div class="relative">
                           <div class="profile-img mb-2">
                              <div class="flex ps-0">
                                 <div class="flex items-start flex-col justify-center gap-y-0">
                                    <div class="text-dark font-semibold text-xl flex justify-center">
                                       Withdrawn Rs. {{ trx.amount }}
                                    </div>
                                    <div class="flex justify-center">
                                       Payment/Trx ID: {{ trx.trxId }}
                                    </div>
                                    <div>Payment/Trx Time: {{ trx.trxTime | datetime }}</div>
                                    <div class="mb-2">Requested Time: {{ trx.requestTime | datetime }}</div>
                                    <div class="flex justify-center">
                                       Receiver Easypaisa Number: {{ trx.receiverEpNb }}
                                    </div>
                                    <div class="flex justify-center mb-2">
                                       Receiver Easypaisa Username: {{ trx.receiverEpUsername }}
                                    </div>
                                    <div class="flex justify-center">
                                       Sender Easypaisa Number: {{ trx.senderEpNb }}
                                    </div>
                                    <div class="flex justify-center">
                                       Sender Easypaisa Username: {{ trx.senderEpUsername }}
                                    </div>
                                 </div>
                              </div>
                              <div class="sm:absolute right-0 top-0 text-dark text-opacity-40">
                                 Transaction Number: {{ trx.id }}
                              </div>
                              <div class="sm:absolute right-0 bottom-0 flex gap-x-2">
                                 <div
                                    (click)="selectedTransactionIndex=trxIndex; selectedTransactionSS=trx.ss;
                                    transactionScreenshotModel.open();"
                                    data-te-ripple-color="light"
                                    data-te-ripple-init
                                    type="button"
                                    class="mt-2 cursor-pointer text-center block w-fit rounded bg-blue-500 text-neutral-50 shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:bg-blue-600 hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-blue-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 text-xs font-medium uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
                                 >
                                    See Trx Screenshot
                                 </div>
                              </div>

                              <div class="grid grid-rows-[0fr] transition-all duration-500 ease-in-out">
                                 <div class="overflow-hidden pb-3">

                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </ng-container>
                  <!-- Withdrawal Transaction  -->
                  <!-- Withdrawal Transaction  -->
                  <!-- Withdrawal Transaction  -->

               </ng-container>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- Lightbox -->
<app-modal #transactionScreenshotModel>
   <div title>
      Successful Transaction Screenshot
   </div>
   <div body>
      <div>
         <ng-container *ngIf="transactions[selectedTransactionIndex].type === 'REFUND'">
            <img [src]="selectedTransactionSS" alt="Transaction Screenshot" class="w-full object-contain">
         </ng-container>
      </div>
   </div>
</app-modal>
<!-- Lightbox -->
