<button
   [disabled]="disabled || waiting || currentCountDown !== 0"
   [ngClass]="{
      'shadow-[0_4px_9px_-4px_rgba(51,45,45,0.7)] hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)]': shadow,
      'cursor-default': disabled || waiting || currentCountDown !== 0,
   }"
   data-te-ripple-color="light"
   data-te-ripple-init
   type="submit"
   class="btn {{ btnStyle }} w-full"
>
   <div
      #loader
      [ngClass]="{'waiting': waiting}"
      class="inline-block w-0 opacity-0 [&.waiting]:!mr-5 [&.waiting]:!opacity-100 transition-all duration-500 ease-in-out"
   >
      <div
         aria-hidden="true"
         role="status"
         class="inline-block h-3 w-3 animate-spin rounded-full border-2 border-solid border-current border-r-transparent align-[-0.125em] motion-reduce:animate-[spin_1.5s_linear_infinite]"
      >
         <span
            class="!absolute !-m-px !h-px !w-px !overflow-hidden !whitespace-nowrap !border-0 !p-0 ![clip:rect(0,0,0,0)]"
         >
            Loading...
         </span>
      </div>
   </div>
   <ng-container *ngIf="currentCountDown !== 0">
      <span class="mr-2">{{ currentCountDown }}</span>
   </ng-container>
   {{ label }}
</button>
