<div class="mb-20">
    <div class="container mx-auto">
        <div>
            <div class="bg-primary-100 bg-opacity-80 rounded-lg shadow-lg p-6">
                <div class="mb-4 text-dark text-opacity-100 text-2xl font-semibold">Frequently Asked Questions</div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">How does the disease prediction model work?</div>
                    <div>Our disease prediction model utilizes machine learning algorithms to analyze the symptoms provided by the user. It then compares these symptoms with a database to predict potential health conditions.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Is the AI-based prediction accurate?</div>
                    <div>While our AI models strive for accuracy, it's essential to remember that they provide insights based on the symptoms entered. These predictions should complement professional medical advice.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">What symptoms should I input for better predictions?</div>
                    <div>To enhance prediction accuracy, input all relevant symptoms you're currently experiencing. The more detailed the input, the better the prediction.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Can I rely solely on the predictions for diagnosis?</div>
                    <div>Our predictions are intended for informational purposes. We strongly advise consulting a qualified healthcare professional for an accurate diagnosis and treatment plan.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Is the platform's data secure and private?</div>
                    <div>Yes, we prioritize data security and privacy. Our platform employs robust security measures to safeguard user information.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">What is the brain tumor detection model based on?</div>
                    <div>Our brain tumor detection model is based on machine learning algorithms that analyze brain MRI images for potential indications of tumors.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">How should I prepare my MRI image for better detection?</div>
                    <div>Ensure the MRI image is clear and high-resolution. Follow the provided guidelines for uploading to optimize detection accuracy.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Can I use the models to replace professional medical advice?</div>
                    <div>No, our models are meant to provide insights and information. They should not replace consultations with qualified medical practitioners.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Are the predicted diseases based on common ailments?</div>
                    <div>Our predictions cover a wide range of health conditions, including common and less common ailments.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Can I access my previous health records on the platform?</div>
                    <div>Yes, users can access their health records if previously saved on our platform.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">What should I do if I don't agree with the prediction?</div>
                    <div>If you have doubts about the prediction, we recommend seeking a second opinion from a healthcare professional.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">How often are the models updated with new information?</div>
                    <div>We continuously strive to update our models with the latest medical information and advancements.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Is there a limit to the number of symptoms I can input?</div>
                    <div>Our platform allows users to input multiple symptoms relevant to their health condition.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Are there specific browser requirements to access the models?</div>
                    <div>The platform is optimized for various browsers, ensuring compatibility for most users.</div>
                </div>
                <div class="mb-3.5">
                    <div class="mb-1 font-semibold text-dark text-opacity-100">Can I get a second opinion from a healthcare professional using the platform's data?</div>
                    <div>Our platform focuses on empowering users with health insights. We recommend consulting a healthcare professional for a second opinion based on the data provided.</div>
                </div>
            </div>
        </div>
    </div>
</div>