<div class="h-full lg:relative fixed z-[1000]">
   <div #sidebar class="h-full relative transition-all duration-500 w-[260px] overflow-hidden">
      <div
         #sidebarBackdrop
         class="fixed inset-0 bg-primary-200 bg-opacity-20 backdrop-blur-md [&.opened]:opacity-100 [&.opened]:pointer-events-auto opacity-0 pointer-events-none transition-all duration-300 lg:!pointer-events-none lg:!opacity-0"
      ></div>
      <div class="h-full min-w-[260px] bg-black text-white relative">
         <div class="h-[calc(100vh-81px)] overflow-y-auto scrollbar-currentColor text-primary-100 text-opacity-30 scrollbar-small hover:text-opacity-50">
            <div class="px-3 py-4">
               <div class="text-white text-opacity-50 text-sm font-semibold mt-2 mb-4">Patient Panel</div>
               <div class="flex flex-col gap-0 links-container relative">
                  <div class="absolute top-0 left-0 right-0 h-[38px]">
                     <a
                        class="transition-all duration-300 bg-layer absolute left-0 w-full whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 !text-transparent pointer-events-none text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg"
                     >Doctors
                     </a>
                  </div>
                  <a
                     [routerLinkActiveOptions]="{ exact: true }"
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/p/p"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300 truncate"
                  >Profile
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/p/doctors"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300 truncate"
                  >Book an Appointment
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/p/a"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300 truncate"
                  >Your Appointments
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/p/353254"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300 truncate"
                  >404
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/p/trans"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300 truncate"
                  >Your Transactions
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/p/withdraw"
                     class="relative whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300 truncate"
                  >Withdraw Refunded Amount
                  </a>
               </div>
            </div>
            <div class="px-3 py-4">
               <div class="text-white text-opacity-50 text-sm font-semibold mt-2 mb-4">Useful Links</div>
               <div class="flex flex-col gap-0">
                  <a
                     routerLink=""
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Home
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/about"
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >About Us
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/disclaimer"
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Disclaimer
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/m/t/i"
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Detect Brain Tumor
                  </a>
                  <a
                     [routerLinkActive]="['active', 'text-opacity-90']"
                     routerLink="/m/d/a/i"
                     target="_blank"
                     class="whitespace-nowrap overflow-clip text-ellipsis align-super pt-[6px] pb-[8px] px-3 text-white text-opacity-70 hover:text-opacity-90 bg-opacity-[0.15] rounded-lg transition-colors duration-300"
                  >Disease Prediction
                  </a>
               </div>
            </div>
         </div>

         <div class="absolute bottom-0 w-full pt-2 pb-4 px-3">
            <div>
               <div
                  class="flex items-center py-3 px-3 bg-[#2d2d2d] hover:bg-[#2d2d3d] text-white text-opacity-60 hover:text-opacity-90 rounded-lg cursor-default transition-all duration-300"
               >
                  <div class="rounded-full w-[32px] shrink-0 aspect-square bg-purple-700 inline-flex justify-center items-center pb-[1px] text-lg me-2 pt-0.5">{{
                        profile.name.length > 0 ? profile.name[0] : ''
                     }}
                  </div>
                  <div class="font-semibold truncate">{{ profile.name }}</div>
                  <div class="flex-grow"></div>
                  <a
                     (click)="logoutConfirmationModal.open();"
                     data-te-ripple-color="light"
                     data-te-ripple-init
                     class="inline-flex items-center text-lg cursor-pointer ps-3 pe-2 rounded-lg pt-1.5 pb-1 -mt-1.5 -mb-1"
                  >
                     <fa-icon [icon]="faRightFromBracket"></fa-icon>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="absolute top-1/2 -translate-y-1/2 -right-[24px] text-3xl !font-extrabold">
      <div
         #sidebar_toggler
         (click)="sidebar.classList.toggle('!w-0'); sidebar_toggler.classList.toggle('closed'); sidebarBackdrop.classList.toggle('opened')"
         class="sidebar-toggler ps-2 pe-3 py-3 opacity-40 hover:opacity-100 cursor-pointer transition-all duration-300"
      >
         <div class="relative">
            <div class="top bg-black w-[4px] h-[12px] rounded-full"></div>
            <div class="bottom bg-black w-[4px] h-[12px] rounded-full"></div>
         </div>
      </div>
   </div>
</div>

<!-- Logout Confirmation - Modal  -->
<app-modal #logoutConfirmationModal>
   <div title>Confirm logout?</div>
   <div body>Are you sure you want to log out?</div>
   <div bottom>
      <div class="flex justify-end gap-x-1">
         <form-submit-button
            (click)="logoutConfirmationModal.close()"
            btnStyle="btn-blue"
            label="Cancel"
         ></form-submit-button>
         <form-submit-button
            (click)="logout();"
            btnStyle="btn-red"
            label="Logout"
         ></form-submit-button>
      </div>
   </div>
</app-modal>
<!-- Logout Confirmation - Modal  -->
