<!-- <div
    class="main modal-bg-layer bg-dark bg-opacity-50 fixed left-0 top-0 right-0 bottom-0 z-[1054] transition-all duration-500 pointer-events-none backdrop-blur-sm"
></div> -->
<div
   class=""
>
   <router-outlet #outlet></router-outlet>
   <div class="select-none">
      <ngx-sonner-toaster
         [duration]="3000"
         [style]="{paddingBlock: '100px !important'}"
         [toastOptions]="{
            duration: 8000
         }"
         [visibleToasts]="6"
         closeButton
         richColors
      />
   </div>
</div>

<!-- [&_.btn-shadow:hover]:shadow-[0_8px_8px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] -->
