<router-outlet></router-outlet>
<div class="mb-20">
    <div class="container mx-auto">
        <div class="bg-primary-100 bg-opacity-80 shadow-lg rounded-lg p-6">
            <div class="mb-3 text-dark text-opacity-90 text-2xl font-semibold">Disclaimer:</div>
            <div class="mb-2 text-dark text-opacity-80">The disease predictions, descriptions, and precautions provided by this model are solely based on the symptoms entered and the available data. They are intended for informational purposes only and should not substitute professional medical advice, diagnosis, or treatment.</div>
            <div class="mb-2 text-dark text-opacity-80">The predictions generated are algorithmically derived and may not always be accurate or comprehensive. Always consult a qualified healthcare professional for a proper diagnosis and appropriate medical guidance tailored to your specific health condition.</div>
            <div class="mb-2 text-dark text-opacity-80">This platform aims to offer preliminary insights but cannot replace personalized medical evaluations or professional healthcare recommendations. Users are encouraged to seek medical attention for any health concerns and to follow the advice of licensed medical practitioners for accurate diagnosis and treatment.</div>
        </div>
    </div>
</div>