<ul
   class="flex justify-center stars"
>
   <ng-container *ngFor="let i of commons.range(1, 6)">
      <li>
         <svg
            viewBox="0 96 960 960" xmlns="http://www.w3.org/2000/svg"
            class="w-5 text-warning cursor-pointer"
            (click)="rating = i; rate(i)"
            (pointerover)="tempRating = i"
            (pointerleave)="tempRating = -1"
         >
            <ng-container *ngIf="(i > tempRating) || (tempRating === -1 && i > rating)">
               <path
                  d="m323 851 157-94 157 95-42-178 138-120-182-16-71-168-71 167-182 16 138 120-42 178Zm-90 125 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Zm247-355Z"
                  fill="currentColor"
               />
            </ng-container>
            <ng-container *ngIf="(i <= tempRating) || (tempRating === -1 && i <= rating)">
               <path
                  d="m233 976 65-281L80 506l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"
                  fill="currentColor"
               />
            </ng-container>
         </svg>
      </li>
   </ng-container>
</ul>
