<div class="mb-20">
   <div class="container mx-auto">
      <div>
         <div class="rounded-lg shadow-lg mb-10">
            <div class="bg-gradient-primary-300 text-primary-100 text-opacity-80 bg-opacity-80 rounded-t-[inherit] p-6 pb-3">
               <div class="mb-1 text-2xl font-semibold text-primary-100 text-opacity-90">Select Your Symptoms for
                                                                                         Accurate Disease Prediction
               </div>
               <div class="text-base text-primary-100 text-opacity-80">Choose Wisely for Precise Results</div>
            </div>
            <div class="bg-primary-100 bg-opacity-80 rounded-b-[inherit] p-6 text-dark text-opacity-70">
               <div class="mb-2">In our disease prediction model, your symptoms matter. To receive the most accurate
                                 assessment, select all the symptoms you're experiencing from the provided cards below.
                                 The more precise information you provide, the more accurate and tailored your predicted
                                 disease analysis will be.
               </div>
               <div class="mb-2">Empowering you with control over your health, our platform ensures a comprehensive
                                 understanding of your symptoms. Click on the symptom cards that apply to you, aiding
                                 our AI-driven system in generating a precise prediction for your health concern.
               </div>
               <div class="mb-2">By selecting all applicable symptoms, you enable our system to provide personalized and
                                 insightful predictions, enhancing your healthcare experience. Your health is our
                                 priority, and your input makes all the difference!
               </div>
            </div>
         </div>
         <form class="grid grid-cols-10 gap-x-6 gap-y-6 mb-11">

            <ng-container *ngFor="let ds of diseaseSymptoms">
               <div
                  (click)="toggleSymptomSelection(ds.field)"
                  [ngClass]="{'shadow-[0px_44px_15px_-35px_rgba(0,0,0,0.3)]':
                  class.selectedSymptoms.includes(ds.field)}"
                  class="relative h-min transition-shadow duration-500 cursor-pointer"
               >
                  <div
                     [ngClass]="{'bg-gradient-primary-300':  class.selectedSymptoms.includes(ds.field)}"
                     class="p-2 bg-white bg-opacity-100 relative rounded-lg shadow-lg card"
                  >
                     <div
                        [ngClass]="{'!opacity-100':  class.selectedSymptoms.includes(ds.field)}"
                        class="opacity-70 rounded-md relative z-0 bg-white text-dark text-opacity-70 flex justify-normal items-center"
                     >
                        <img
                           [src]="'/assets/img/disease-symptom-sketches/' + ds.img" alt=""
                           class="max-w-full rounded-md h-[90px] aspect-square"
                        >
                     </div>
                  </div>
                  <div
                     [ngClass]="{'bg-gradient-primary-300':  class.selectedSymptoms.includes(ds.field)}"
                     class="p-1 mt-2 bg-white bg-opacity-100 relative rounded-lg shadow-lg card"
                  >
                     <div
                        [ngClass]="{'text-primary-100 !text-opacity-100':  class.selectedSymptoms.includes(ds.field)}"
                        class="card-text bottom-0 right-0 text-sm font-semibold text-dark text-opacity-70 ps-1 text-center"
                     >
                        {{ ds.title }}
                     </div>
                  </div>
               </div>
            </ng-container>

         </form>
         <div class="mb-16">
            <div id="predict-btn" class="w-full flex justify-center">
               <div class="scale-[1.1] w-1/2">
               <form-submit-button
                  label="Predict Disease"
                  [waiting]="loading"
                  [disabled]="loading"
                  (click)="predict()"
               ></form-submit-button>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
<div class="fixed left-0 right-0 bottom-0 pointer-events-none w-full z-[98]">
   <div class="container mx-auto">
      <div class="flex justify-end mb-9">
         <a
            (click)="scroller.scrollToAnchor('predict-btn')"
            type="button"
            class="cursor-pointer pointer-events-auto block shadow-lg text-xs font-light text-center rounded-md bg-gradient-secondary-300 text-neutral-50  hover:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] focus:bg-blue-800 focus:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] active:bg-blue-700 active:shadow-[0_8px_9px_-4px_rgba(51,45,45,0.2),0_4px_18px_0_rgba(51,45,45,0.1)] px-6 pb-2 pt-2.5 uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0"
         >
            Predict
            <fa-icon [icon]="faChevronDown" class="ms-1 mb-1.5"></fa-icon>
         </a>
      </div>
   </div>
</div>

=
