<div class="main workspace">
    <div class="h-full">
        <div class="h-full flex justify-center items-center">
            <div class="max-w-[400px]">
                <div class="text-9xl font-extrabold">404</div>
                <div class="font-semibold mt-3">Oops! This Page Could Not Be Found</div>
                <div class="text-xs font-semibold text-dark text-opacity-60 mt-2">SORRY BUT THE PAGE YOU ARE LOOKING FOR DOES NOT EXIST, HAVE BEEN REVMOED, NAME CHANGED OR IS TEMPORARILY UNAVAILABLE</div>
                <div class="mt-4">
                    <a routerLink="/d" role="button" class="font-semibold text-center block w-fit rounded border-2 border-blue-500 text-blue-500 hover:border-blue-600 hover:bg-blue-400 hover:bg-opacity-10 hover:text-blue-600 focus:border-blue-700 focus:text-blue-700 active:border-blue-800 active:text-blue-800 dark:border-blue-300 dark:text-blue-300 dark:hover:hover:bg-blue-300 px-6 pb-2 pt-2.5 text-xs uppercase leading-normal transition duration-150 ease-in-out focus:outline-none focus:ring-0">VISIT YOUR APPOINTMENTS</a>
                </div>
            </div>
        </div>
    </div>
</div>